section {
    margin: 50px auto;
    width: 300px;
    font-family: "Montserrat", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}

.switch {
    position: relative;
    margin: 20px auto;
    height: 26px;
    width: 220px;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 3px;
}

.switch input {
    display: none;
}

.switch label {
    position: relative;
    float: left;
    font-size: 14px;
    width: 50%;
    height: 26px;
    text-align: center;
    padding-top: 3px;
    z-index: 2;
    cursor: pointer;
}

.selection {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 50%;
    background: #FFF;
    height: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 1;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.switch input[type=checkbox]:checked + .selection {
    left: 50%;
}